$rad: 5em;
.container {
  padding: calc($rad / 2);
  text-align: center;
}

.matchedRecord {
  background-color: #1ed760;
  font-weight: bold;
}

.unmatchedRecord {
  background-color: inherit;
  font-weight: bolder;
}
