$bg: rgba(0, 0, 0, 0.5);
$bg-fb: rgb(0, 0, 0);
$textcolor: white;
$h: 1.5em; // height of textbox

.box {
  text-align: left;
  position: relative;

  .image {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }

  .overlaytext {
    background: $bg-fb;
    background: $bg;
    color: $textcolor;
    font-weight: bolder;
  }

  .trackname {
    position: absolute;
    top: 0;
    left: 0;
    height: $h;
    width: 100%;
    padding-top: $h * 0.5;
  }

  .artistname {
    position: absolute;
    top: $h * 1.5;
    left: 0;
    height: $h;
    padding-top: $h * 0.5;
    width: 100%;
  }

  .albumname {
    position: absolute;
    bottom: $h * 0.1;
    left: 0;
    height: $h * 1.5;
    width: 100%;
    padding-top: $h * 0.5;
  }
}
