$bgcolor: "rgba(0,0,0,0.2)";
$h: 1;

.trackname {
  backgroundcolor: $bgcolor;
  position: absolute;
  top: 0;
  left: 0;
}

.artistname {
  backgroundcolor: $bgcolor;
  position: absolute;
  top: 0;
  left: 0;
}

.albumname {
  backgroundcolor: $bgcolor;
  position: absolute;
  top: 0;
  left: 0;
}
