$rad: 5em;
.container {
  padding: calc($rad / 2);
  text-align: center;
}

.progress {
  margin: 25% 0;
}

$imgWidth: 30%;
.albumImage {
  width: $imgWidth;
  margin-left: calc((100% - $imgWidth) / 2);
  margin-right: calc((100% - $imgWidth) / 2);
}
