$rad: 5em;
.container {
  padding: calc($rad / 2);
  text-align: center;
}

.progress {
  margin-top: 10%;
}

.searchButton {
  margin-top: 2em;
}

.playlistImage {
  width: 10vw;
}

.trackImage {
  width: 10vw;
}
